body {
    margin : 0;
}

.banner {
    background-color: black;
    text-align: center;
    color:white;
    font-size: 3em;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
}

p {
    margin: 0;
}

nav {
    background-color: #434343;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

 a {
    color: white;
    font-weight: bold;
    padding-left: 1em;
    font-size: 1.5em;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: white;
}

main {
    background-color: #171E24;
}

#title{
    display: flex;
    flex-direction: row;
    color:lightgray;
    padding:1em;
    justify-content: space-between;
}

#movie {
   font-size: 1.5em;
   display: block;
   text-align: center;
   width: 100%;
   margin-left:1em;
}

#sort{
    padding: 1em;
    font-size: 1.1em;
    justify-self: flex-end;
    align-self: flex-end;
    border: 1px solid black;
    color: black;
    background-color: white;
    &:hover {
        background-color: black;
        border-color: white;
        color: white;
        transition: all 200ms;
    }
}

#content{
    display:flex;
    flex-wrap: wrap;
}

.movie {
    padding: 0.5em;
    background-color: black;
    color: white;
    border: solid;
    flex:30%;
    border-color: red;
    margin: 1em;
    display: flex;
}

img {
    width:50%;
}

.inner{
    color:white;
    display: block;
}

.title{
    margin-left: 1em;
    font-weight: bold;
    font-size: 2em;
}

.director {
    margin-left: 2em;
    margin-top: 2em;
}

.runtime {
    margin-left: 2em;
    margin-top: 0.5em;
}

button {
    font-size: 3em;
    margin-left: 0.5em;
    margin-top: 6em;
    color: white;
    background-color: blue;
}

span{
    font-size: 4em;
    margin-left: 0.5em;
}



